///////////////////
// Resume styles //
///////////////////

// Colors
.header-row {
  background-color: #818182;
}

a { color: inherit; }

// Margings/Padding/Etc.
img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

// Fonts
.name {
  font-size: 2em;
  font-weight: bolder;
}

.specialties {

}